# Gemini API Key (for Korean-English translation and vetting)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Hugging Face API Read-access Token (for Inference Endpoints authorization)
HF_API_TOKEN=YOUR_HF_API_TOKEN

# ngrok Auth Token (for tunneling local Flask server to public web)
NGROK_AUTH_TOKEN=YOUR_NGROK_AUTH_TOKEN

# Hugging Face LLaVA Finetuned Model Inference Endpoint URL
HF_ENDPOINT_URL=YOUR_HF_ENDPOINT_URL
